[defaults]
inventory = ./inventory 
remote_user = devops-user-02 
ask_pass = False 
log_path = ansible.log

[privilege_escalation]
become = True 
become_method = sudo 
become_user = root
become_ask_pass = False 
